<template>
  <div>
    <entry v-model="text" :value="text"></entry>
    <div slot="header" class="toolbar">
      <q-toolbar-title :padding="0">
        Quasar Framework v{{$q.version}}
      </q-toolbar-title>
    </div>

    <!--
        Replace following "div" with
        "<router-view class="layout-view">" component
        if using subRoutes
      -->
    <div>
      <div class="layout-padding">
        <div class="list bordered" style="margin-bottom: 25px">
          <q-collapsible icon="settings" label="Configure">
            <div class="floating-label">
              <input v-model="config.title" required>
              <label>Data Table Title</label>
            </div>

            <p class="caption">Features
              <small>(* filter can be removed in columns definition)</small>
            </p>
            <div class="column group gt-sm-row">
              <label>
                <q-checkbox v-model="config.refresh" /> Refresh
              </label>
              <label>
                <q-checkbox v-model="config.columnPicker" /> Column Picker
              </label>
              <label>
                <q-checkbox v-model="pagination" /> Pagination
              </label>
              <label>
                <q-checkbox v-model="config.responsive" /> Responsive
              </label>
            </div>

            <p class="caption">Selection and Sticky Columns</p>
            <div class="column gt-sm-row group">
              <q-select v-model="config.selection" type="radio" label="Selection" :options="[
                  {label: 'None', value: false},
                  {label: 'Single', value: 'single'},
                  {label: 'Multiple', value: 'multiple'}
                ]" />

              <q-select v-model="config.leftStickyColumns" type="radio" label="Left Sticky Columns *" :options="[
                  {label: 'None', value: 0},
                  {label: '1', value: 1},
                  {label: '2', value: 2}
                ]" />

              <q-select v-model="config.rightStickyColumns" type="radio" label="Right Sticky Columns *" :options="[
                  {label: 'None', value: 0},
                  {label: '1', value: 1},
                  {label: '2', value: 2}
                ]" />
            </div>

            <p class="caption">Row Height * ({{rowHeight}}px)</p>
            <q-range v-model="rowHeight" :min="50" :max="200" labelAlways />

            <p class="caption">
              Table body *
              <span :style="{fontStyle: bodyHeightProp === 'auto' ? 'italic' : ''}">({{bodyHeight}}px)</span>
            </p>
            <div class="row items-center">
              <q-select type="radio" v-model="bodyHeightProp" :options="[
                  {label: 'Auto', value: 'auto'},
                  {label: 'Height', value: 'height'},
                  {label: 'Min Height', value: 'minHeight'},
                  {label: 'Max Height', value: 'maxHeight'}
                ]" />
              <q-range v-model="bodyHeight" :min="100" :max="700" labelAlways :disable="bodyHeightProp === 'auto'" />
            </div>

            <div class="quote light-paragraph" style="margin-top: 35px">* - applies to wide screens only</div>
          </q-collapsible>
        </div>

        <p class="caption desktop-only">Resize browser window to experiment with different screen sizes and see Sticky Columns in action.</p>
        <q-data-table :data="table" :config="config" :columns="columns" @refresh="refresh">

          <template slot="col-actions" scope="{ row }">
              <div class="button-group">
                <a :href="'/view/' + row.id" class="button">View</a>
                <a :href="'/chat/' + row.id" class="button">Chat</a>
              </div>
          </template>

          <template slot="selection" scope="props">
            <button class="primary clear" @click="changeMessage(props.rows)">
              <i>edit</i>
            </button>
            <button class="primary clear" @click="deleteRow(props.rows)">
              <i>delete</i>
            </button>
          </template>
        </q-data-table>
      </div>
    </div>
  </div>
</template>

<script>
import { Platform, Utils, Toast } from 'quasar'
import table from './table.json'
import Entry from './Entry'

export default {
  components: {'entry': Entry},
  methods: {
    changeMessage (rows) {
      Toast.create('Changed "Message" field for selected row(s).')
    },
    deleteRow (rows) {
      console.dir(rows)
      /* props.rows.forEach(row => {
        this.table.splice(row.index, 1)
      }) */
    },
    refresh (done) {
      this.timeout = setTimeout(() => {
        done()
      }, 5000)
    }
  },
  beforeDestroy () {
    if (this.timeout) {
      clearTimeout(this.timeout)
    }
  },
  data () {
    return {
      text: 'abc',
      table,
      config: {
        title: 'Data Table',
        refresh: true,
        columnPicker: true,
        leftStickyColumns: 1,
        rightStickyColumns: 2,
        bodyStyle: {
          maxHeight: Platform.is.mobile ? '50vh' : '500px'
        },
        rowHeight: '50px',
        responsive: true,
        pagination: {
          rowsPerPage: 15,
          options: [5, 10, 15, 30, 50, 500]
        },
        selection: 'multiple',
        messages: {
          noData: '<i>warning</i> No data available to show.',
          noDataAfterFiltering: '<i>warning</i> No results. Please refine your search terms.'
        }
      },
      columns: [
        {
          label: 'Id',
          field: 'id',
          filter: true,
          sort: true,
          width: '3em'
        },
        {
          label: 'Standard Username',
          field: 'standard_username',
          filter: true,
          sort: true,
          width: '9em'
        },
        {
          label: 'Standard Email',
          field: 'standard_email',
          filter: true,
          sort: true,
          width: '12em'
        },
        {
          label: 'Phone',
          field: 'phone',
          filter: true,
          sort: true,
          width: '8em'
        },
        {
          label: 'Device',
          field: 'device',
          filter: true,
          sort: true,
          width: '5em'
        },
        {
          label: 'Country',
          field: 'country',
          filter: true,
          sort: true,
          width: '6em'
        },
        {
          label: 'Credits',
          field: 'credits',
          sort: true,
          width: '5em'
        },
        {
          label: 'Pro',
          field: 'pro',
          sort: true,
          width: '4em'
        },
        {
          label: 'Archived',
          field: 'archived',
          sort: true,
          width: '5em'
        },
        {
          label: 'Actions',
          field: 'actions',
          width: '12em'
        }
      ],
      pagination: true,
      rowHeight: 50,
      bodyHeightProp: 'maxHeight',
      bodyHeight: 500
    }
  },
  watch: {
    pagination (value) {
      if (!value) {
        this.oldPagination = Utils.clone(this.config.pagination)
        this.config.pagination = false
        return
      }
      this.config.pagination = this.oldPagination
    },
    rowHeight (value) {
      this.config.rowHeight = value + 'px'
    },
    bodyHeight (value) {
      let style = {}
      if (this.bodyHeightProp !== 'auto') {
        style[this.bodyHeightProp] = value + 'px'
      }
      this.config.bodyStyle = style
    },
    bodyHeightProp (value) {
      let style = {}
      if (value !== 'auto') {
        style[value] = this.bodyHeight + 'px'
      }
      this.config.bodyStyle = style
    }
  }
}
</script>
<style>
  a.button {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    font-style: normal;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    color: inherit;
    background: 0 0;
    line-height: 1;
    transition: all .12s ease-in;
    border-radius: 2px;
    text-transform: uppercase;
    margin: .1rem;
    padding: .5rem 1rem;
    min-height: 2.4rem;
    font-weight: 500;
    font-size: .85rem;
    background: #ddd;
  }
  a.button.primary {
    background: #027be3;
    color: #fff;
  }

  @media screen and (max-width: 600px) {
    .button-group {
      padding: 1em 0;
    }
  }
</style>
